<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Include the above in your HEAD tag -->

<body>

{{#if error_msg}}
    <div class="alert alert-danger">
        {{error_msg}}
    </div>
{{else if success_msg}}
    <div class="alert alert-success">
        {{ success_msg }}
    </div>
{{/if}}

{{#if errors }}
    {{#each errors }}
        <p class="alert alert-danger">{{ this.msg }}</p>
    {{/each}}
{{/if}}
<h1 class="text-center pt-5 ">Registro</h1>

<img src="https://raw.githubusercontent.com/RodrigoAnjos2004/Login-dashboard/main/src/components/assets/MicrosoftTeams-image.png" alt="..." class="rounded mx-auto d-block" style="width:130px;height:160px;">
    <h4 class="text-center pt-1">Cryptonita</h4>
    <div id="Register">
        {{!-- <h3 class="text-center text-white pt-5 ">Register form</h3> --}}
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">

                        <form id="login-form" class="form col-12 col-lg-11 login-card mt-5 hv-center" action="/registration" method="post">
                    
                            {{!-- <h3 class="text-center ">Register</h3> --}}
                            <div class="form-group">
                                 <label for="nameInputLabel">Nome:</label>                                
                                 <i class="fa fa-user" aria-hidden="true"></i>
                                <input type="text" class="form-control" id="nameInputLabel" name="name"
                                placeholder="nome">
                            </div>
                            <div class="form-group">
                                 <label for="emailInputLabel">E-mail:</label>
                                  <i class="fa fa-envelope" aria-hidden="true"></i>
                                 <input type="text" class="form-control" id="emailInputLabel" name = "email"
                                 placeholder="email">
                            </div>
                               <div class="form-group">
                                <label for="passwdInputLabel">Senha:</label>
                                 <i class="fa fa-lock" aria-hidden="true"></i>
                                <input type="password" class="form-control" id="passwdInputLabel" name="passwd"
                                placeholder="senha">
                            </div>
                            <div id="register-link" class="text-right">
                                <a href="/" class="text-info">Voltar</a>
                            </div>
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-success btn-md" value="Criar">
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>








{{!-- 
<form action="/registration" method="post">

        <div class="form-group">
          <div class="col-md-4 mb-3">
            <label for="nameInputLabel">Nome:</label>
            <input type="text" class="form-control" id="nameInputLabel" name="name">
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-4 mb-3">
            <label for="emailInputLabel">E-mail:</label>
            <input type="text" class="form-control" id="emailInputLabel" name = "email">
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-4 mb-3">
            <label for="passwdInputLabel">Senha:</label>
            <input type="password" class="form-control" id="passwdInputLabel" name="passwd">
          </div>
        </div>
        
      
        <button type="submit" class="btn btn-primary" name="submit">Enviar</button>
</form>  --}}
